@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Pacifico&family=Press+Start+2P&display=swap');.navbar{
    padding-left: 10px;
    display: flex;
    vertical-align: middle;
}

.card-text {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.info{
    display: flex;
    justify-content: space-between;
}

.title-noteapp{
    font-family: 'Press Start 2P', cursive;
}